:root {
  --text: #090f16;
  --bg: #e5edf5;
  --primary: #7199c6;
  --secondary: #d7e2ef;
  --accent: #83a6ce;
  --text-contrast: #fafafa;
  --bg-contrast: #050505;
  --primary-contrast: #e88521;
  --secondary-contrast: rgb(255, 63, 29);
  --accent-contrast: #f0b375;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary);
  height: 100vh;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Caudex', serif;
  font-family: 'Silkscreen', cursive;
}

.title {
  margin-top: 0.5em;
  font-size: 40px;
  text-align: center;
}

.engraved-text {
  color: transparent;
  background: var(--primary-contrast);
  -webkit-background-clip: text;
  text-shadow: 2px 5px 5px rgba(255, 255, 255, 0.3);
}

.engraved-text.color-effect {
  color: transparent;
  background: var(--secondary-contrast);
  -webkit-background-clip: text;
  text-shadow: 2px 5px 5px rgba(255, 255, 255, 0.3);
}


.table {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 3em;
  background-color: var(--secondary);
  box-shadow:
    15px 50px 50px rgba(0, 0, 0, 0.1),
    inset -10px -10px 15px rgba(0, 0, 0, 0.1),
    inset 15px 15px 15px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.engraved {
  box-shadow:
    inset -6px -6px 8px rgba(255, 255, 255, 0.3),
    inset 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-h {
  display: flex;
  justify-content: space-between;
}

#enemy-score,
#player-score {
  color: transparent;
  background: var(--primary-contrast);
  -webkit-background-clip: text;
  text-shadow: 2px 5px 5px rgba(255, 255, 255, 0.3);
  text-align: center;
}

.score {
  font-size: 70px;
  background: transparent;
  color: transparent;
}

.board {
  width: 100%;
  max-width: 890px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.commentary {
  width: 100%;
  max-width: 740px;
  align-self: flex-end;
  font-size: 2em;
  text-align: center;
  flex: 1 1 auto;
}

.section {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player,
.enemy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}

.total-points {
  position: relative;
  z-index: 5;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--accent-contrast);
  transform: translate(1em, 0);
  box-shadow:
    inset -5px -5px 8px rgba(0, 0, 0, 0.1),
    inset 8px 8px 8px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg);
  font-size: 18px;
  font-weight: 400;
}

#deck {
  margin-top: 1.5em;
  width: 100%;
  height: auto;
}

.cards {
  height: 100%;
  flex: 1 1 auto;
  min-width: 100px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5px;
}

.sidebar {
  margin-left: 1em;
  flex: 1 1 auto;
  max-width: 140px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.controls button {
  font-family: 'Silkscreen', cursive;
  font-size: 1.5em;
  padding: 0.2em 0.6em;
  text-align: center;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-contrast);
  color: var(--bg);
}

button.engraved-text {
  color: transparent;
  padding: 0;
  transform: scale(1.2);
}

.abilities-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abilities-section h3 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  max-width: 70px;
  height: 230px;
}

.ability {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
  box-shadow:
    inset -10px -10px 15px rgba(0, 0, 0, 0.1),
    inset 15px 15px 15px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  transition: 0.3s ease;
}

.locked {
  opacity: 0.4;
}

.ability:hover {
  scale: 1.2;
}

.ability.used {
  display: none;
}

#rock-ability {
  background: url(../img/rock-ability.jpeg);
  background-size: cover;
  background-position: center;
}

#paper-ability {
  background: url(../img/paper-ability.jpeg);
  background-size: cover;
  background-position: center;
}

#scissors-ability {
  background: url(../img/scissors-ability.jpeg);
  background-size: cover;
  background-position: center;
}

.melee,
.range,
.siege {
  position: relative;
  z-index: 1;
}

.melee::before {
  background: url(../img/melee.png);
}

.range::before {
  background: url(../img/range.png);
}

.siege::before {
  background: url(../img/siege.png);
}

.melee::before,
.range::before,
.siege::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-position: center;
  background-size: 60px;
  background-repeat: no-repeat;
  opacity: 0.2;
}

/* Cards */
#deck {
  margin-top: 1em;
  min-height: 6.5em;
  border-radius: 10px;
  padding: 3px;
  background-color: var(--secondary);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.15),
    inset 5px 5px 15px rgba(0, 0, 0, 0.15),
    -5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.15);
}

#deck .card-holder {
  margin: 5px 0;
  position: relative;
  z-index: 2;
  background: var(--accent-contrast);
  border-radius: 6px;
  width: 100px;
  height: 6.5em;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

#deck .card-holder:hover {
  z-index: 5;
  transform: scale(1.5);
}

.info {
  display: flex;
  justify-content: space-between;
  height: auto;
}

#deck .type,
.damage {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -10px);
  border-radius: 50%;
  padding: 5px;
  background: var(--primary-contrast);
  font-size: 14px;
  color: var(--bg);
}

#deck .card-holder .name {
  position: relative;
  z-index: 2;
  color: var(--bg);
  text-align: center;
  transform: translate(0, 65px);
  background-color: var(--accent-contrast);
  height: 0;
  color: transparent;
  transition: 0.3s ease 0.1s;
  display: flex;
  align-items: center;
  font-size: 80%;
  line-height: 1em;
}

.board .card-holder {
  flex: 1 1 auto;
  max-width: 5em;
  height: 100%;
  border-radius: 6px;
  transition: 0.3s ease;
}

.board .damage {
  width: 1.5em;
  height: 1.5em;
}

.board .card-holder:hover {
  scale: 1.3;
  translate: 0 -20%;
}

#deck .card-holder:hover>.name {
  z-index: 5;
  height: 40%;
  color: var(--bg);
}

#deck .card-holder .name {
  transform: translate(0, 0px);
  height: auto;
  color: var(--bg);
}

#deck .card-holder:hover {
  transform: translate(0, -10px);
}

.footer {
  font-size: 0.5em;
}

.footer {
  padding: 1em 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}

.sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.footer a {
  text-decoration: none;
  color: var(--primary-contrast);
}

.icons .fa {
  color: var(--primary-contrast);
  padding: 0.5em;
}

.pop {
  transition: 0.3s ease;
}

.pop:hover {
  translate: -3px 3px;
  box-shadow: 5px -6px var(--secondary-contrast);
}

@media screen and (max-width: 900px) {
  .title {
    margin-top: 1em;
    font-size: 30px;
  }

  .table {
    gap: 0;
    padding: 1em;
  }

  .board {
    gap: 1.5em;
  }

  .commentary {
    font-size: 1em;
  }

  .total-points {
    width: 2em;
    height: 2em;
    font-size: 14px;
  }

  .score {
    font-size: 32px;
  }

  .abilities-section h3 {
    font-size: 1em;
  }

  .controls button {
    font-size: 14px;
    padding: 3px 6px;
  }

  .card-holder {
    justify-content: space-between;
  }

  .sub {
    align-items: flex-start;
    gap: 0.2em;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 0.5em;
  }

  #information {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sub {
    gap: 0.5em;
  }
}